<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@latest"></script>
  <title>HTMX Go Fiber PostgreSQL</title>
</head>

<body>
  <div>
    <h1>
      Items
    </h1>
    {{ if .User.LoggedIn }}
    {{ template "login" . }}
    {{ else }}
    <div id="login">
      {{ template "loginform" . }}
    </div>
    {{ end }}
    <br>
    <form hx-boost="true" hx-post="/add-item" hx-ext="json" hx-target="#list" hx-swap="innerHTML">
      <textarea name="name" placeholder="Item Name" required></textarea>
      <button>Add New Item</button>
    </form>
    <div id="list">
      {{ template "list" . }}
    </div>
  </div>
</body>

</html>